
body {
    background-color: rgb(235, 135, 157);
}


h1 {
    color: #666cbf8f;
}

h3 {
    color: #66bf6d;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}